@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Poppins";
}

.background {
    width: 100%;
    height: 100%;
    background-image: url(background_image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background h1 {
    padding-top: 2vh;
    text-align: center;
    font-size: 6vh;
    font-weight: 900;
}

/* the todo container */
.todobox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-image: linear-gradient(to right, black, rgb(141, 141, 141));
    border-radius: 15px;
    display: flex;
    box-shadow: 0px 1px 20px 2px white;

}

.form {
    display: flex;
}

.left {
    margin: 10vh;
    color: white;

}

.inputbox {
    width: 40vh;
    height: 6vh;
    border-radius: 5vh;
    padding: 2vh;
    outline: none;
    background-color: rgb(255, 255, 255);
    font-size: 2.5vh;

    outline: none;

    color: rgb(0, 0, 0);
    font-weight: 600;
}

.inputbox:focus {
    border: 2px solid rgb(72, 116, 212);
    box-shadow: inset 0px 0px 20px rgb(13, 87, 247);
}

.submitbox {
    margin-left: 5vh;
    width: 10vh;
    height: 5vh;
    border-radius: 2vh;
    text-align: center;
    font-size: 2vh;
    background-color: black;
    color: rgb(98, 206, 206);
    padding: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    outline: none;


}

.submitbox:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px cyan;
}


.error {
    color: red;
    font-weight: 400;
}


.taskcounter {
    margin-top: 10px;
    font-size: 3vh;
    font-weight: 500;
    text-shadow: 0 0 10px cyan;
}

.imagebox {
    margin-top: 4vh;
    border: 2ps solid cyan;


}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 10px cyan, 0 0 20px cyan;
}

/* right containe*/
.right {
    margin-top: 50px;
    width: 50%;
    height: 78%;
    overflow: hidden;
    border-width: 2px;
    border-radius: 10px;
    border: 2px solid gray;
    box-shadow: 0px 0px 10px rgb(180, 181, 181);
    background-color: black;
    color: white;


}

.hr {
    width: 100%;
    padding: 2vw;
}

.listcont {
    align-items: center;
    padding-left: 2px;
    height: 90%;
    overflow-y: auto;
    padding-right: 10px;
}

.heading {
    font-weight: 600;
    font-size: 4vh;
    text-align: center;
    text-shadow: 0 2px 10px cyan;
    margin-bottom: 3vh;
}

.emptymsg {
    font-size: 2vw;
    text-align: center;



}

.toddos {
    list-style-type: none;
    padding-bottom:8px;

}

.listwa {
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 1.5;
    word-break: break-word;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    border-bottom: 1px solid gray ;
    transition: all 0.3s ease;
}

.listwa span {
    word-break: break-word;
    overflow-wrap: break-word;
    flex: 1;
}

.edit {
    background-color: cyan;
    padding: 0.8vh 2vh;
    margin-left: 1vw;
    border-radius: 3vh;
    font-weight: 600;
    font-size: 2vh;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.deletebtn {
    background-color: cyan;
    padding: 0.8vh 2vh;
    margin-left: 1vw;
    border-radius: 3vh;
    font-weight: 600;
    font-size: 2vh;
     transition: all 0.3s ease-in-out;
}

.listhr {
    margin: 1vw;
    width: 100%;
    border: 1px solid gray;
}
.edit:hover ,.deletebtn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px cyan;
}



/* responsiveness */
@media (max-width: 768px) {
    .todobox {
        padding-top: 2px;
        flex-direction: column;
        align-items: center;
        width: 95%;

        padding-bottom: 5vw;

    }

    .form {}

    .inputbox {
        height: 9vw;
        width: 60vw;
        font-size: 3.4vw;

    }

    .submitbox {
        width: 14vw;
    }

    .left {
        margin: 5vw;
    }

    .taskcounter {
        display: flex;

        gap: 4vw;
        font-size: 3.6vw;
        margin-top: 4vw;
    }

    img {
        display: none;
    }

    .right {
        margin-top: 0;
        width: 90%;
        height: 80%;
    }

    .heading {
        font-size: 8vw;
        margin-bottom: 1.3vw;
    }

    .emptymsg {
        margin-top: 50%;
        font-size: 6vw;
    }

    .listwa {
        font-size: 4vw;
    }

    .edit {
        padding: 1.2vw 3vw;
    }

    .deletebtn {
        padding: 1.2vw 3vw;
    }


}